**/*.ts  linguist-language=TypeScript
scripts/**/* linguist-language=TypeScript
**/.eslintrc.js linguist-vendored
**/.prettierrc.js linguist-vendored
**/*.config.js linguist-vendored
**/dist/**/* linguist-vendored